NODE_ENV=development
PORT=3000
DATABASE_URL="mysql://root:password@127.0.0.1:3306/hanle_theater"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-another-32-random-characters"
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
ADMIN_INITIAL_PASSWORD=ChangeMe123!
