<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uts.sdk.modules.hlyRiskCollector">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- Android 11 起只能查询预先声明的软件包。这里只声明业务需要检测的应用。 -->
  <queries>
    <package android:name="com.tencent.mm" />
    <package android:name="com.ss.android.ugc.aweme" />
    <package android:name="com.eg.android.AlipayGphone" />
    <package android:name="org.lsposed.manager" />
    <package android:name="org.meowcat.edxposed.manager" />
    <package android:name="de.robv.android.xposed.installer" />
  </queries>
</manifest>
